In [4]:
import json
import pandas as pd
import csv

In [15]:
jsonl_file_path = './data.jsonl'
csv_file_path = 'output.csv'

In [22]:
with open(jsonl_file_path, 'r') as jsonl_file, open(csv_file_path, 'w', newline='') as csv_file:
    csv_writer = csv.writer(csv_file)
    csv_writer.writerow(["text", "label"])

    # Read each line (JSON object) from the JSONL file
    for line in jsonl_file:
        json_data = json.loads(line)  # Parse JSON from the line
        row = []

        # Modify this section to match the structure of your JSON objects
        # Extract the desired fields from the JSON data and append to the row
        row.append(json_data.get('text', ''))
        row.append(json_data.get('label', ''))
        # Add more fields as needed

        # Write the row to the CSV file
        csv_writer.writerow(row)

In [23]:
data = pd.read_csv("./output.csv")

In [24]:
data

                                                     text  label
0       i feel awful about it too because it s my job ...      0
1                                   im alone i feel awful      0
2       ive probably mentioned this before but i reall...      1
3                i was feeling a little low few days back      0
4       i beleive that i am much more sensitive to oth...      2
...                                                   ...    ...
416804  that was what i felt when i was finally accept...      1
416805  i take every day as it comes i m just focussin...      4
416806      i just suddenly feel that everything was fake      0
416807  im feeling more eager than ever to claw back w...      1
416808  i give you plenty of attention even when i fee...      0

[416809 rows x 2 columns]